@using Microsoft.AspNetCore.Http
@model IEnumerable<EAP_exam1.Models.Money>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .main {
        max-width: 500px;
        margin: auto;
        margin-top: 100px;
        background: #ccc;
        padding: 20px;
    }

    .mainItem {
        margin-bottom: 20px;
    }

    .mainItem label {
        display: inline-block;
        width: 100px;
    }

    .mainItemForm {
        display:inline-block;
        width: 200px;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="main">
            <div class="mainItem">
                <label>Amount</label>
                <input type="text" class="mainItemForm" name="amount" />
            </div>
            <div class="mainItem">
                <label></label>
                <select class="mainItemForm">
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@Html.DisplayFor(modelItem => item.Id)</option>
                    }
                </select>
            </div>
            <div class="mainItem">
                <label></label>
                <input type="button" value="Change" class="mainItemForm" />
            </div>
            <div class="mainItem result">
                <label></label>
                <h3 class="mainItemForm" ></h3>
                VNĐ
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $(document).ready(function () {
            $(document).on("click", "input[type=button]", function () {
                var url = window.location.origin;
                var data = {
                    "value": parseInt($("input[name='amount']").val()),
                };
                $.ajax({
                    type: "GET",
                    url: url + "/api/Moneys/" + $("select").val() + "/" + parseInt($("input[name='amount']").val()),
                   
                }).done(function (resp) {
                    $(".mainItem.result .mainItemForm").text(resp.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1."));
                    //window.location.href = window.location.origin;
                }).fail(function (resp) {
                    alert("Lõi");
                });
            });
        });
    </script>
    }
